/* 
    Created on : 16/10/2017, 14:41:41
    Author     : Edu Ribeiro
*/
body{
    margin: 0;
    padding: 0;
    background: url("../../img/financeiro.jpg");
     background-repeat: no-repeat;
   
}